<template>
    <div id="wrapper" class="bg-white">
      <div class="left-sidebar">
        <div class="logo text-center">
          <img src="@/assets/notebook-logo.png" alt="">
        </div>
          <router-view/>
        </div>
      <main></main>
    </div>
</template>

<style scoped>
#wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.left-sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
  padding: 0 2rem 0
}

main {
  background-image: url('~@/assets/images/3.jpg');
  background-size: cover;
  flex-basis: 0;
  flex-grow: 999;
}
.logo img {
  width: 150px;
}
</style>