<template>
  <div>
    <el-container>
      <el-header class="p0"><Header /></el-header>
      <el-main><router-view /></el-main>
    </el-container>
  </div>

</template>

<script>
import Header from '@/components/app/Header'

export default {
  components: {
    Header
  }
}
</script>