<template>
  <div>
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
import MainLayout from '@/layouts/MainLayout'
import AuthLayout from '@/layouts/AuthLayout'

export default {
  name: 'App',
  mounted() {
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || 'empty') + '-layout'
    }
  },
  components: {
    MainLayout, AuthLayout
  },
}
</script>
<style>
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background: #f7fafc;
  margin: 0;
}
.p0 {
	padding: 0!important;
}
.c-black {
	color: rgba(26,32,44,1)!important;
}
.c-grey {
	color: #606266;;
}
.bg-white {
  background: #fff !important;
}
.bg-fb {
  background: #3a5794 !important;
}
.f-right {
  float: right !important;
}
.underline-none {
	text-decoration: none;
}
.text-sm {
	font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.w100 {
  width: 100%
}
label {
  padding: 0 !important
}
</style>
