<template>
  <el-menu class="el-menu-demo" mode="horizontal">
    <el-menu-item class="f-right" index="2"><router-link :to="{ name: 'account-signout' }">Выйти</router-link></el-menu-item>
    <el-menu-item class="f-right" index="2"><router-link :to="{ name: 'note-create' }">Создать</router-link></el-menu-item>
  </el-menu>
  <div class="line"></div>
</template>

