<template>
  <div></div>
</template>

<script>
export default {
  name: "AccountSignout",
  created() {
    this.$store.dispatch('signout')
        .then(() => {
          this.$messageSuccess('', 'Вы успешно вышли из аккаунта!')
          this.$router.push({name: 'account-signin'})
        })
  }
}
</script>