<template>
  <div>
      <h1 class="text-xl">Регистрация</h1>
      <div>
        <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="120px" label-position="top"
                 class="demo-dynamic">
          <el-form-item
              prop="email"
              label="Email"
              :rules="[
              { required: true, message: 'Пожалуйста, введите Ваш E-mail', trigger: 'blur' },
              { type: 'email', message: 'Пожалуйста, введите корректен E-mail', trigger: ['blur', 'change'] }
            ]"
          >
            <el-input v-model="dynamicValidateForm.email"></el-input>
          </el-form-item>

          <el-form-item
              prop="password"
              label="Password"
              :rules="[
              { required: true, message: 'Пожалуйста, введите пароль', trigger: ['blur', 'change'] },
               {min: 6, message: 'Пароль должен состоять минимум из 6 символов'},
            ]"
          >
            <el-input v-model="dynamicValidateForm.password" show-password></el-input>
          </el-form-item>

          <el-form-item>
            <el-button class="w100" :loading="dynamicValidateForm.loadingButton"
                       @click.prevent="submitForm('dynamicValidateForm')">Регистрация
            </el-button>
            <p>У Вас уже есть аккаунт? <router-link :to="{ name: 'account-signin' }">Войти</router-link></p>
          </el-form-item>
        </el-form>
      </div>
    </div>
</template>

<script>

export default {
  name: "AccountSignup",
  data: () => ({
    dynamicValidateForm: {
      email: '',
      password: '',
      loadingButton: false
    }
  }),
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return false
        }
        this.dynamicValidateForm.loading = true

        this.$store.dispatch("signup", {
          email: this.dynamicValidateForm.email,
          password: this.dynamicValidateForm.password
        }).then(() => {
          this.$messageSuccess('Добро пожаловать', 'Успешная регистрация в Notebook')
          this.$router.push({name: 'note'})
        }).catch((error) => {
          var errors = error?.response?.data?.errors
          if(errors) {
            const key = Object.keys(errors)[0]
            this.$messageError('Ошибка', errors[key][0])
          } else {
            this.$messageError('Ошибка', 'Network error')
          }
        })
      });
    },
  },
}

</script>

