<template>
  <div>
    <el-row v-loading="loading">
      <el-col :span="4" v-for="notebook in notebooks" :key="notebook.id">
        <el-card style="margin:0 10px 20px">
          <router-link class="underline-none text-sm c-grey" :to="{ name: 'note-edit', params: { id: notebook.id } }">
            <img src="@/assets/notebook-logo.png" class="w100">
            <div class="note-title">
              {{ notebook.title }}
            </div>
          </router-link>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>

export default {
  name: "Note",
  data: () => ({
    loading: true,
    notebooks: []
  }),
  created() {
    this.start()
  },
  methods: {
    async start() {
      await this.$store.dispatch(`getNotes`)
          .then(response => {
            this.notebooks = response.data
            this.loading = false
          })
    }
  }
}
</script>

<style scoped>
.note-title {
  padding: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>

