<template>

  <div class="content" v-loading="loading">
    <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="120px" label-position="top"
             class="demo-dynamic">
      <el-form-item
          prop="title"
          label="Заглавние"
          :rules="[{ required: true, message: 'Пожалуйста, заполните поле', trigger: 'blur' }]"
      >
        <el-input v-model="dynamicValidateForm.title"></el-input>
      </el-form-item>

      <el-form-item label="Текст">
        <el-input type="textarea" :rows="10" v-model="dynamicValidateForm.description"></el-input>
      </el-form-item>

      <el-form-item class="text-right">
        <el-button @click.prevent="deleteNote">Удалить
        </el-button>
        <el-button :loading="loadingButton"
            @click.prevent="submitForm('dynamicValidateForm')">Обновить
        </el-button>
      </el-form-item>
    </el-form>
  </div>

</template>

<script>
import {useRoute} from 'vue-router'

export default {
  name: 'note-edit',
  data: () => ({
    loading: true,
    loadingButton: false,
    noteId: 0,
    dynamicValidateForm: {
      title: '',
      description: ''
    }
  }),

  mounted() {
    this.noteId = useRoute().params.id
    this.start()
  },
  methods: {
    async start() {
      await this.$store.dispatch(`getNote`, this.noteId)
          .then(response => {
            this.dynamicValidateForm.title = response.data.title,
            this.dynamicValidateForm.description = response.data.description,
            this.loading = false
          })
          .catch(() => {
            this.$messageError('', "Поле заглавние обязательно для заполнения")
            this.$router.push({name: 'note'})
          })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return false
        }
        this.loadingButton = true

        this.$store.dispatch(`updateNote`, {
          id: this.noteId,
          title: this.dynamicValidateForm.title,
          description: this.dynamicValidateForm.description,
        })
            .then(response => {
              this.$messageSuccess('', response.data),
              this.$router.push({name: 'note'})
            })
            .catch((error) => {
              var errors = error?.response?.data?.errors
              if(errors) {
                const key = Object.keys(errors)[0]
                this.$messageError('Ошибка', errors[key][0])
              } else {
                this.$messageError('Ошибка', 'Network error')
              }
            })
      })
    },

    async deleteNote() {
      if (!confirm(`Вы уверены?`)) {
        return false
      }
      await this.$store.dispatch(`deleteNote`, this.noteId)
          .then(() => {
            this.$messageSuccess('', 'Запись успешно удалена!')
            this.$router.push({name: 'note'})
          }).catch((error) => {
            var errors = error?.response?.data?.errors
            if(errors) {
              const key = Object.keys(errors)[0]
              this.$messageError('Ошибка', errors[key][0])
            } else {
              this.$messageError('Ошибка', 'Network error')
            }
          })
    }
  },
}
</script>

<style scoped>
.content {
  width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 15px;
}
</style>