<template>
  <div class="content" v-loading="loading">
    <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="120px" label-position="top"
             class="demo-dynamic">
      <el-form-item
          prop="title"
          label="Заглавние"
          :rules="[{ required: true, message: 'Пожалуйста, заполните поле', trigger: 'blur' }]"
      >
        <el-input v-model="dynamicValidateForm.title"></el-input>
      </el-form-item>

      <el-form-item label="Текст">
        <el-input type="textarea" :rows="10" v-model="dynamicValidateForm.description"></el-input>
      </el-form-item>

      <el-form-item class="text-right">
        <el-button :loading="loadingButton" @click.prevent="submitForm('dynamicValidateForm')">Создать</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>

export default {
  name: 'note-create',
  data: () => ({
    loadingButton: false,
    dynamicValidateForm: {
      title: '',
      description: ''
    }
  }),
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return false
        }
        this.$store.dispatch(`createNote`, {
          title: this.dynamicValidateForm.title,
          description: this.dynamicValidateForm.description
        })
            .then((response) => {
              this.$messageSuccess("Запись успешно создана!", response.data),
                  this.$router.push({name: 'note'})
            })
            .catch((error) => {
              var errors = error?.response?.data?.errors
              if(errors) {
                const key = Object.keys(errors)[0]
                this.$messageError('Ошибка', errors[key][0])
              } else {
                this.$messageError('Ошибка', 'Network error')
              }
            })
      })
    }
  },
}
</script>

<style scoped>
.content {
  width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 15px;
}
</style>